

:root{
--color:rgba(227, 227, 18, 0.79);
--color2:rgb(175, 172, 172);
}

*{margin: 0;box-sizing: border-box;}
body{height: 500vh;
 font-family: 'Times New Roman', Times, serif !important;
}


.containar{
height:100%;
display: grid;
grid-template-rows:100px 1fr 700px 300px 500px 700px 400px;

}

.head{
padding-left: 30px;
display: grid;
grid-template-columns:repeat(auto-fit,300px);
justify-content: space-between;
/*position:sticky;
top:0;
left: 0;
z-index: 2;*/
box-shadow: 13px 17px 62px -17px rgba(217, 215, 215, 0.7);


}

.head a{
 margin-right: 27px;;
 text-decoration: none;
 font-size:25px;
 border: 1px solid var(--color);
 padding-top: 10px;
 padding-bottom: 10px;
 border-radius: 40%;

}

.fill{
 background-color: var(--color);
 color: white;
 padding-left: 10px;
 padding-right:  10px;
 box-shadow: 13px 17px 62px -17px rgba(217, 215, 215, 0.7);
}
.nfill{
    box-shadow: 13px 17px 62px -17px rgba(217, 215, 215, 0.7);
    color: var(--color);
    padding-left: 15px ;
    padding-right: 15px ;

}
.head .fill:hover{
    background-color:white;
     color: var(--color);
    font-size: 27px;
    
    }


     .head .nfill:hover{
        background-color:var(--color);
        color: white;
        font-size: 27px;
        
         }




.sign{ padding-top: 25px; }

@font-face {
    font-family: 'Font';
    src: url(../assets/font/GreatVibes-Regular.woff);
  }


.logo{ 
font-family: Font ;
font-size: 48px;
color: var(--color);
padding-top: 15px;
font-weight: bold;
text-shadow: 5px 11px 6px #f0ed0fa8;
padding-left: 50px;
border-bottom-left-radius: 100px;
border-top-right-radius: 100px;
border-right: 15px solid #f0ed0fa8;
border-left: 9px solid #f0ed0fa8;
box-shadow:13px 17px 62px -17px rgba(217, 215, 215, 0.7);}
   

 .content{
margin-top: 100px;
justify-content: space-around;
display: grid;
/*grid-template-columns:repeat(4,minmax(200px,1fr));*/
background-color:white;


}
.all{
    padding-top: 90px;
    position: relative;
    margin-bottom: 20px;
    display: flex;
  
}

.chat{
box-shadow: 13px 17px 62px -17px rgba(217, 215, 215, 0.7);
height: 230px;
width: 400px;
background-color: white;
word-break:break-all;
text-overflow: ellipsis;
overflow: hidden;
margin-left: 130px;
border-top-left-radius: 90px;

}
.chat div{
    padding-left: 55px;
    padding-top: 50px;
    padding-right: 30px;
}


.chat i{
    padding-top: 40px;
    color:rgba(227, 227, 18, 0.79);
    font-size: x-large;
    padding-right: 40px;
    padding-bottom: 20px;
}

.chat::after{
    content: "";
    background-image: linear-gradient(var(--color),var(--color2), var(--color2),
    var(--color),var(--color2),var(--color) );
    height: 230px;
    width: 5px;
    position: absolute;
    top:90px;
    right: -8px;

}
.pers{
    padding-top: 62px;
}
.pers img{
    border-radius: 30%;
    width: 120px;
    height: 120px;
    border: 2px solid var(--color2);
    display: block;
    box-shadow: 13px 17px 62px -17px rgba(217, 215, 215, 0.7);
  
}


.chat::before{
content: "";
position: absolute;
border: 30px solid ;
border-top-color:  transparent;
border-bottom-color: transparent;
border-left-color: var(--color2);
border-right-color: transparent;
left: 180px;
top: 190px;

}

.add{
 margin-top: 170px;
 background-color: var(--color2);
padding: 50px;
display: flex;
}

.add div{
    align-self:center;
}
 .add input{

width: 600px;
height: 200px;
border-radius: 20px;
box-shadow:13px 17px 62px -17px rgba(217, 215, 215, 0.7);
}

.add a{
    position: relative;
    top: 64px;
    left: 624px;
    color: var(--color2);
    text-decoration: none;
    padding-top: 14px;
    border-radius: 30px;
    font-size: large;
    padding-bottom: 14px;
    padding-left: 24px;
    padding-right: 24px;
  background-color: white;
  box-shadow:13px 17px 62px -17px rgba(217, 215, 215, 0.7);
}
 .add a:hover{
    font-weight: bolder;
     background-color: var(--color2);;
     color: white;
     font-size: 20px;
 }
.input{
    padding-left: 70px;
}
.more{
    background-color:white;
    display: flex;
    justify-content: center;
}
.more .con{
    background-color:#f2f2088f;
    width: 1200px;
    border-radius: 20px;
    padding: 20px;

}

.sen,.popular{
    padding: 30px;
    color: #999999;
    font-size: larger;
  
}

.popular a{
    color: var(--color2);
}
.popular a:hover{
    color: white;
    font-size: x-large;

}
.more .popular{
height: 100%;
display: grid;
grid-template-columns: repeat(4,auto);
align-items:center;
grid-template-rows: repeat(5,auto);
justify-items:center;
}

.related{
    background-color: #eee;
    margin-top: 250px;
}
.re-pages{
display: flex;
justify-content: space-around;

}

.page{
height: 250px;
width: 250px;
margin-top: 30px;
background-color: white;
border-radius: 20%;
display: grid;
grid-template-rows: 30% 50%;
justify-items: center;
gap: 50px;
padding-top: 20px;
box-shadow: 13px 17px 62px -17px rgba(217, 215, 215, 0.7);

}
.page img{
    width: 90px;
    height: 90px;
    border-radius:30%;
    
}
span{
 font-size:x-large;
 color: white;
 padding: 20px;
 display: block;
 font-weight: bold;
}

.desc{
    padding: 6px;
    text-align: center;
}

.desc,.desc a{
    color:rgb(168, 168, 168);
}
.desc a:hover{
    color: rgb(168, 168, 168);
    font-weight: bold;
}
.footer{
        font-family: Font ;
        color:rgb(122, 122, 122);
        font-size:large ;
        font-weight: bolder;
        display:grid;
        grid-template-rows: 60px  60px;
        align-content: flex-end;
        justify-content: center;
        letter-spacing: 5px;
        }
        
        .footer .icon{
        
            padding-left: 20px;
        }
        
        .fas,.fab{
        padding-left: 13px;
            font-size:17px;
        }

        .fa-ellipsis-v {
  padding-top: 10px !important;
  padding-bottom: 50px !important;     
      display: block !important; 
    float:right } 

    .one{
        padding-left: 63px;
    }